<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.contacts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.contacts.MainActivity"
            android:label="@string/add_contact" >
        </activity>
        <activity
            android:name="com.example.contacts.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.contacts.CustomListActivity"
            android:label="@string/custom_list" >
        </activity>
        <activity 
            android:name="com.example.contacts.ContactDetails" 
            android:label="@string/view_list" >
        </activity>
        <activity 
            android:name="com.example.contacts.EditActivity" 
            android:label="@string/edit_contact" >
        </activity>
        
    </application>

</manifest>

